<form [formGroup]='form' autocomplete='off' (click)='onTouch()' class='flex'>
  <mat-form-field>
    <mat-label>Period amount</mat-label>
    <input type='number' matInput formControlName='amount'>
    <mat-error *ngIf='form.get("amount").hasError("required")'>Field is required</mat-error>
    <mat-error *ngIf='form.get("amount").hasError("min")'>Value can't be less then 1</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Time unit</mat-label>
    <mat-select formControlName='unit'>
      <mat-option *ngFor='let unit of getUnits()' [value]='unit'>
        {{unit}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
