<mat-list-item>
  <div class="flex rounded p-0-5" (click)="stateChanged.next(switcher)" matRipple>
    <div>{{switcher.name}}</div>
    <div>
      <span>
        <button mat-icon-button *ngIf="switcher.state !== 'UNKNOWN'">
          <mat-icon *ngIf="switcher.state === 'ON'" [style.color]="'#ecdb54'">brightness_high</mat-icon>
          <mat-icon *ngIf="switcher.state === 'OFF'">brightness_low</mat-icon>
        </button>
      </span>
      <span *ngIf="canEdit">
        <button mat-icon-button color="primary" (click)="edit.next(switcher)" stopPropagation>
          <mat-icon>
            edit
          </mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="remove.next(switcher)" stopPropagation>
          <mat-icon>
            delete_outline
          </mat-icon>
        </button>
      </span>
    </div>
  </div>
</mat-list-item>
