<mat-list-item>
  <div class="element-holder" (click)="stateChanged.next(switcher)">
    <div>{{switcher.name}}</div>
    <div>
      <button mat-button color="primary" (click)="edit.next(switcher)" stopPropagation>
        <mat-icon>
          edit
        </mat-icon>
      </button>
      <button mat-button color="warn" (click)="remove.next(switcher)" stopPropagation>
        <mat-icon>
          delete_outline
        </mat-icon>
      </button>
    </div>
  </div>
</mat-list-item>
