<mat-toolbar color="primary">
  <div class="flex">
    <div class="title">Switchers</div>
    <div>
      <button mat-icon-button (click)="switchersService.refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<app-switchers-list [switchers]="switchersService.switchers | async" [canEdit]="canEdit | async"
  [reservedPins]="switchersService.reservedPins" (switcherUpdated)="onNewSwitcher($event)"
  (stateChanged)="onTouch($event)" (remove)="deleteSwitcher($event)">
</app-switchers-list>
